@page "/ClothesList"
@using System.Text.Json
@inject HttpClient HttpClient
@using clothes_site_sample.scripts
<h3>ClothesList</h3>

<table class="table" style="font-size: small">
    <thead class="thead-light">
    <tr>
        <th>uniqueid</th>
        <th>kind</th>
        <th>product_name</th>
        <th>size</th>
        <th>color</th>
        <th>price</th>
        <th>material</th>
        <th>product_introduction</th>

    </tr>
    </thead>
</table>
<tbody>
@{
    foreach (var clothse in clothse_table)
    {
        <tr>
            <td>@clothse.id</td>
            <td>@clothse.kind</td>
            <td>@clothse.product_name</td>
            <td>@clothse.size</td>
            <td>@clothse.color</td>
            <td>@clothse.price</td>
            <td>@clothse.material</td>
            <td>@clothse.product_introduction</td>
            <button class="btn btn-primary" @onclick="@((() => OnClickDetail(clothse.id)))">
                詳細
            </button>
        </tr>
    }
}
</tbody>

@code {
    List<Master_clothses> clothse_table = new List<Master_clothses>();

    protected override async Task OnInitializedAsync()
    {
        string json = await HttpClient.GetStringAsync(requestUri: "https://script.google.com/macros/s/AKfycbw_oM7K0sMnA2fYfkq98TsQt1IOsz3TfibyapxefcvLlPEfP5-pszy6G13bdl3XDjAkCw/exec");
        Console.WriteLine(json);
        JsonDocument jsonDocument = JsonDocument.Parse(json);
        JsonElement jsonElement = jsonDocument.RootElement.GetProperty("[D]master_clothes");
        JsonElement.ArrayEnumerator list = jsonElement.EnumerateArray();


        foreach (JsonElement masterClothesObject in list)
        {
            int id = masterClothesObject.GetProperty("id").GetInt32();
            string kind = masterClothesObject.GetProperty("kind").GetString();
            string product_name = masterClothesObject.GetProperty("product_name").GetString();
            string size = masterClothesObject.GetProperty("size").GetString();
            string color = masterClothesObject.GetProperty("color").GetString();
            int price = masterClothesObject.GetProperty("price").GetInt32();
            string material = masterClothesObject.GetProperty("material").GetString();
            string product_introduction = masterClothesObject.GetProperty("producut_introduction").GetString();

            Master_clothses masterClothse = new Master_clothses(
                id,
                kind,
                product_name,
                size,
                color,
                price,
                material,
                product_introduction);
            clothse_table.Add(masterClothse);
        }
    }

    public void OnClickDetail(int 味方の識別番号)
    {
        Console.WriteLine(味方の識別番号);
    }

}