@page "/test"
@using clothes_site_sample.Scripts.Tables

@inject MasterClothRepository MasterClothRepository
@inject MasterClothColorRepository masterClothColorRepository
@inject MasterClothImageRepository masterClothImageRepository
@inject MasterClothRelationRepository masterClothRelationRepository
@inject MasterProductRepository masterProductRepository

@inherits clothes_site_sample.scripts.Bases.AppComponentBase<Test>

<h3 class="header">Test</h3>

@foreach (var entity in MasterClothRepository.Test())
{
    <div>@entity.ProductName</div>
}

@foreach (var entity in masterClothColorRepository.FindAll())
{
    <div>@entity.ImageIrl</div>
}

@foreach (var entity in masterClothImageRepository.FindAll())
{
    <div>@entity.Url</div>
}

@foreach (var entity in masterClothRelationRepository.FindAll())
{
    <div>@entity.MasterClothId</div>
}

@foreach (var entity in masterProductRepository.FindAll())
{
    <div>@entity.Quantity</div>
}

@code {

    protected override void OnInitialized()
    {
    }

}