@page "/ClothesList"
@using clothes_site_sample.scripts
<h3>ClothesList</h3>

<table class="table" style="font-size: small">
    <thead class="thead-light">
    <tr>
        <th>uniqueid</th>
        <th>kind</th>
        <th>product_name</th>
        <th>size</th>
        <th>color</th>
        <th>price</th>
        <th>material</th>
        <th>product_introduction</th>

    </tr>
    </thead>
</table>
<tbody>
@{
    foreach (var clothse in clothse_table)
    {
        <tr>
            <td>@clothse.id</td>
            <td>@clothse.kind</td>
            <td>@clothse.product_name</td>
            <td>@clothse.size</td>
            <td>@clothse.color</td>
            <td>@clothse.price</td>
            <td>@clothse.material</td>
            <td>@clothse.product_introduction</td>
        </tr>
    }
}
</tbody>

@code {
    List<Master_clothse> clothse_table= new List<Master_clothse>();

    protected override async Task OnInitializedAsync()
    {
        string json = await HttpClient.GetStringAsync(requestUri: "https://script.google.com/macros/s/AKfycbxxgJYNn5yA4rmxmD_S7M0au9MHD6ZzHe6bWTvam9n59PN0WnseqG2spi8k03wVrQLtkg/exec");
    // Console.WriteLine(json);json

        JsonDocument jsonDocument = JsonDocument.Parse(json);
        JsonElement jsonElement = jsonDocument.RootElement.GetProperty("[D]Master_clothse");
        JsonElement.ArrayEnumerator list = jsonElement.EnumerateArray();


        foreach (var VARIABLE in Master_clothse)
        {
            
        }
    }

    
}